# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Environment variables
.env
.env*.local

# Debug logs
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Serverless Framework
.serverless/
.serverless_nextjs/

# OS files
.DS_Store

# Security
*.pem
